<?xml version="1.0"?>

<!--=========================starting xacros================================-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prototype">
<xacro:include filename="$(find prototype)/urdf/joint_macros.xacro"/>
<xacro:include filename="$(find prototype)/urdf/link_macros.xacro"/>

<!-- ================Battery,crane links and joints===========================-->
<xacro:box_link name="Battery" mass="2.255" ixx="0.37583333" iyy="0.8333333" 
izz="0.8333333" box="0.15 0.060 0.095"/>

<xacro:fixed_joint name="Battery_joint" origin="0.0 0.0 0.052" parent="chassis" child="Battery"/> 

<xacro:box_link name="control_board" mass="0.500" ixx="0.8333333" iyy="0.8333333" 
izz="0.37583333" box="0.15 0.060 0.095"/>

<xacro:fixed_joint name="control_board_joint" origin="0.0 0.081 0.052"
parent="chassis" child="control_board" />

</robot>