<?xml version="1.0"?>

<!--=========================starting xacros================================-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prototype">
<xacro:include filename="$(find gazebo_sim)/urdf/prototype.gazebo.xacro"/>
<xacro:include filename="$(find prototype)/urdf/wheel.xacro"/>
<xacro:include filename="$(find prototype)/urdf/lidar.xacro"/>
<xacro:include filename="$(find prototype)/urdf/joint_macros.xacro"/>
<xacro:include filename="$(find prototype)/urdf/link_macros.xacro"/>
<!--<xacro:include filename="$(find prototype)/urdf/Battery_Control.xacro"/>-->
<!--<xacro:include filename="$(find prototype)/urdf/crane.xacro"/>-->
<!--<xacro:include filename="$(find prototype)/urdf/hardware_interface.xacro"/>-->


<!--=========================xacro:properties=============================-->
    <xacro:property name="body_length" value="0.3"/>
    <xacro:property name="body_width" value="0.155"/>
    <xacro:property name="body_height" value="0.01"/>

                              <!-- end of xacros-->
<!--***********************************************************************-->

  <!--=====================Base-Footprint and base_link link=================-->
  <!-- BASE LINK-->
  <link name="base_link">
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="base_footprint">
</link>


 <joint name="chassis_joint" type="fixed">
  <origin rpy="0 0 1.57" xyz="0 0 0"/>
  <parent link="base_link"/>
  <child link="chassis"/>
  <axis xyz="0 0 0"/>
  <joint_proprties damping ="0.0" friction="0.1"/>
 </joint>

 <xacro:box_link_meshes name="chassis" mass="1.21" ixx="0.0010803" iyy="0.00010259"
 izz="0.00129793" box="0.155 0.3 0.01" FilePath="package://prototype/meshes/blender_mesh.stl"
 collision="0.0 -0.1 0.0"/>

<!--
 <xacro:box_link name="base_link" mass="1.21" ixx="0.0010803" iyy="0.00010259"
 izz="0.00129793" box="0.155 0.3 0.01"/>-->

</robot>
