[Unit]
After=network-online.target
Description=robot_localization_ros
Requires=ros_motor.service
After=ros_motor.service

[Service]
Environment="RMW_IMPLEMENTATION=rmw_cyclonedds_cpp"
Environment="ROS_DOMAIN_ID=1"
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/tolasing/robot_ws/install/setup.bash; ros2 launch prototype robot_localization_launch.py'
RemainAfterExit=no
User=tolasing
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target


















