[Unit]
Description=Mount unit for ubuntu-mate-pi, revision 14
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/ubuntu-mate-pi_14.snap
Where=/snap/ubuntu-mate-pi/14
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
